@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "RighteousRegular";
  src: url("../fonts/Righteous/RighteousRegular.eot");
  src: url("../fonts/Righteous/RighteousRegular.eot") format("embedded-opentype"), url("../fonts/Righteous/RighteousRegular.woff2") format("woff2"), url("../fonts/Righteous/RighteousRegular.woff") format("woff"), url("../fonts/Righteous/RighteousRegular.ttf") format("truetype"), url("../fonts/Righteous/RighteousRegular.svg#RighteousRegular") format("svg");
}

@font-face {
  font-family: "KaushanScriptRegular";
  src: url("../fonts/Kaushan_Script/KaushanScriptRegular.eot");
  src: url("../fonts/Kaushan_Script/KaushanScriptRegular.eot") format("embedded-opentype"), url("../fonts/Kaushan_Script/KaushanScriptRegular.woff2") format("woff2"), url("../fonts/Kaushan_Script/KaushanScriptRegular.woff") format("woff"), url("../fonts/Kaushan_Script/KaushanScriptRegular.ttf") format("truetype"), url("../fonts/Kaushan_Script/KaushanScriptRegular.svg#KaushanScriptRegular") format("svg");
}

@font-face {
  font-family: "BangersRegular";
  src: url("../fonts/Bangers/BangersRegular.eot");
  src: url("../fonts/Bangers/BangersRegular.eot") format("embedded-opentype"), url("../fonts/Bangers/BangersRegular.woff2") format("woff2"), url("../fonts/Bangers/BangersRegular.woff") format("woff"), url("../fonts/Bangers/BangersRegular.ttf") format("truetype"), url("../fonts/Bangers/BangersRegular.svg#BangersRegular") format("svg");
}

@font-face {
  font-family: "PattayaRegular";
  src: url("../fonts/Pattaya/PattayaRegular.eot");
  src: url("../fonts/Pattaya/PattayaRegular.eot") format("embedded-opentype"), url("../fonts/Pattaya/PattayaRegular.woff2") format("woff2"), url("../fonts/Pattaya/PattayaRegular.woff") format("woff"), url("../fonts/Pattaya/PattayaRegular.ttf") format("truetype"), url("../fonts/Pattaya/PattayaRegular.svg#PattayaRegular") format("svg");
}

body {
  background: url(../img/main-bg.jpg);
  background-size: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* header */
.header__container {
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  overflow: hidden;
  /*background: grey;*/
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  width: 100%;
}

.video-container video {
  position: relative;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 3%;
  width: 20vw;
  height: 20vw;
  /* border: 1px solid #01ff9c; */
  border-radius: 50%;
  box-shadow: 0 0 50px 5px #01ff9c;
}

.main__logo {
  display: inline-block;
  padding: 9%;
  width: 0;
  height: 0;
  font-family: "KaushanScriptRegular", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  color: #01ff9c;
  text-shadow: 0vw 0vw 2vw #f904f1;
}
.main__logo span {
  font-size: 2em;
  color: #01ff01;
}
.main__logo .first-logo {
  padding-left: 1em;
}

.wow.rollIn {
  visibility: visible;
  animation-delay: 0.5s;
  animation-name: rollIn;
}

.header__title{
  position: absolute;
  right: 0;
  top: 550px;
  padding: 5px;
  font-family: "KaushanScriptRegular", sans-serif;
  font-size: 50px;
  color: black;
  text-shadow: 0 0 40px #ffffff;
  perspective: 850px;
  transform: rotateY(-60deg);
}

.header__title span {
  font-family: "BangersRegular", sans-serif;
  font-size: 3em;
  color: #05090b;
}
