@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "RighteousRegular";
  src: url("../fonts/Righteous/RighteousRegular.eot");
  src: url("../fonts/Righteous/RighteousRegular.eot") format("embedded-opentype"), url("../fonts/Righteous/RighteousRegular.woff2") format("woff2"), url("../fonts/Righteous/RighteousRegular.woff") format("woff"), url("../fonts/Righteous/RighteousRegular.ttf") format("truetype"), url("../fonts/Righteous/RighteousRegular.svg#RighteousRegular") format("svg");
}
@font-face {
  font-family: "KaushanScriptRegular";
  src: url("../fonts/Kaushan_Script/KaushanScriptRegular.eot");
  src: url("../fonts/Kaushan_Script/KaushanScriptRegular.eot") format("embedded-opentype"), url("../fonts/Kaushan_Script/KaushanScriptRegular.woff2") format("woff2"), url("../fonts/Kaushan_Script/KaushanScriptRegular.woff") format("woff"), url("../fonts/Kaushan_Script/KaushanScriptRegular.ttf") format("truetype"), url("../fonts/Kaushan_Script/KaushanScriptRegular.svg#KaushanScriptRegular") format("svg");
}
@font-face {
  font-family: "BangersRegular";
  src: url("../fonts/Bangers/BangersRegular.eot");
  src: url("../fonts/Bangers/BangersRegular.eot") format("embedded-opentype"), url("../fonts/Bangers/BangersRegular.woff2") format("woff2"), url("../fonts/Bangers/BangersRegular.woff") format("woff"), url("../fonts/Bangers/BangersRegular.ttf") format("truetype"), url("../fonts/Bangers/BangersRegular.svg#BangersRegular") format("svg");
}
.rig-reg {
  font-family: "RighteousRegular", sans-serif;
  font-weight: 400;
}

.rig-bold {
  font-family: "RighteousRegular", sans-serif;
  font-weight: 600;
}

.kaush-reg {
  font-family: "KaushanScriptRegular", sans-serif;
  font-weight: 400;
}

.kaush-bold {
  font-family: "KaushanScriptRegular", sans-serif;
  font-weight: 600;
}

.bang-reg {
  font-family: "BangersRegular", sans-serif;
  font-weight: 400;
}

.bang-bold {
  font-family: "BangersRegular", sans-serif;
  font-weight: 600;
}

body {
  background-image: url(../img/main-bg.jpg);
  /*background-repeat: no-repeat;*/
  background-size: 100%;
}

.main__header {
  display: flex;
  margin: 3%;
  width: 20vw;
  height: 20vw;
  border: 0.5vw solid #01ff9c;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10vw 5vw #01ff9c;
  text-align: center;
}

.main__logo {
  display: inline-block;
  padding: 10%;
  width: 0;
  height: 0;
  font-family: "KaushanScriptRegular", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  color: #01ff9c;
}
.main__logo span {
  font-size: 2em;
  color: #01ff01;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background: grey;*/
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  width: 100%;
}

.video-container video {
  position: relative;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.layer img {
  width: 350px;
}