// // Файл обнуляющих стилей
@import "nullstyle.scss";

body {
	background-image: url(../img/Цифровой_фон_04.jpg);
	/*background-repeat: no-repeat;*/
	background-size: 100%;
}

.main__header {
	margin: 0 auto;
	max-width: 800px;
	/*position: relative;*/
}

.no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: grey;*/
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    // background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: relative;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }
  .layer img {
  		width: 350px;
  	}