// Файл обнуляющих стилей
@import "nullstyle.scss";

@font-face {
    font-family: 'RighteousRegular';
    src: url('../fonts/Righteous/RighteousRegular.eot');
    src: url('../fonts/Righteous/RighteousRegular.eot') format('embedded-opentype'),
         url('../fonts/Righteous/RighteousRegular.woff2') format('woff2'),
         url('../fonts/Righteous/RighteousRegular.woff') format('woff'),
         url('../fonts/Righteous/RighteousRegular.ttf') format('truetype'),
         url('../fonts/Righteous/RighteousRegular.svg#RighteousRegular') format('svg');
}

@font-face {
    font-family: 'KaushanScriptRegular';
    src: url('../fonts/Kaushan_Script/KaushanScriptRegular.eot');
    src: url('../fonts/Kaushan_Script/KaushanScriptRegular.eot') format('embedded-opentype'),
         url('../fonts/Kaushan_Script/KaushanScriptRegular.woff2') format('woff2'),
         url('../fonts/Kaushan_Script/KaushanScriptRegular.woff') format('woff'),
         url('../fonts/Kaushan_Script/KaushanScriptRegular.ttf') format('truetype'),
         url('../fonts/Kaushan_Script/KaushanScriptRegular.svg#KaushanScriptRegular') format('svg');
}


@font-face {
    font-family: 'BangersRegular';
    src: url('../fonts/Bangers/BangersRegular.eot');
    src: url('../fonts/Bangers/BangersRegular.eot') format('embedded-opentype'),
         url('../fonts/Bangers/BangersRegular.woff2') format('woff2'),
         url('../fonts/Bangers/BangersRegular.woff') format('woff'),
         url('../fonts/Bangers/BangersRegular.ttf') format('truetype'),
         url('../fonts/Bangers/BangersRegular.svg#BangersRegular') format('svg');
}

@font-face {
    font-family: 'PattayaRegular';
    src: url('../fonts/Pattaya/PattayaRegular.eot');
    src: url('../fonts/Pattaya/PattayaRegular.eot') format('embedded-opentype'),
         url('../fonts/Pattaya/PattayaRegular.woff2') format('woff2'),
         url('../fonts/Pattaya/PattayaRegular.woff') format('woff'),
         url('../fonts/Pattaya/PattayaRegular.ttf') format('truetype'),
         url('../fonts/Pattaya/PattayaRegular.svg#PattayaRegular') format('svg');
}

body {
	background-image: url(../img/main-bg.jpg);
	/*background-repeat: no-repeat;*/
	background-size: 100%;
}

.main__header {
  display: flex;
	margin: 3%;   
  width: 20vw;
  height: 20vw;
  border: 0.5vw solid #01ff9c;
  border-radius: 50%;  
	position: relative;   
  box-shadow: 0 0 10vw 5vw #01ff9c;    
}

.main__logo {
  display: inline-block;   
  padding: 9%;
  width: 0;
  height: 0;
  font-family: 'KaushanScriptRegular' , sans-serif;
  font-weight: 600;
  font-size: 3vw; 
  color: #01ff9c;
  text-shadow: 0vw 0vw 2vw #f904f1;
  span {    
    font-size: 2em;
    color: #01ff01;

  }
  .first-logo {   
    padding-left: 1em;
  }
}

.wow.rollIn {
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: rollIn;
}

.main-text {
  position: relative;
 // margin-right: 10vw;
  float: right;
  padding: 5px;
  font-family: 'KaushanScriptRegular' , sans-serif;  
  font-size: 5vw; 
  color: black;
  text-shadow: 0vw 0vw 2vw #ffffff;
  perspective: 40vw;  
}

.text {  
  transform: rotateY(-60deg);
  span {
    font-family: 'BangersRegular' , sans-serif;    
    font-size: 3em;
    color: #05090b;
  }
}


 // видеофон

.no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: grey;*/
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    // background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: relative;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }
  .layer img {
  		width: 350px;
  	}